body,
html {
	height: 100%;
}

body.slider__body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.slider__container {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: -webkit-transform 500ms ease-in-out;
	-o-transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.slider__page {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider__indicators {
	position: absolute;
	left: 18px;
	top: 50%;
	z-index: 2;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slider__indicator {
	display: block;
	width: 10px;
	height: 10px;
	margin: 10px 0;
	border-radius: 100px;
	background-color: #fff;
	cursor: default;
}
.slider__indicator--active {
	opacity: 0.3;
}
